<!DOCTYPE html>
<html>
  <head>
    <base href="http://localhost:300/" />
    <meta charset="utf-8">
    <title>Trang chu</title>
  </head>
  <body>
      <img src="hinh/<%= hinh %>" />
  </body>
</html>
